@import "./font.scss";
@import "./_variable.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/slick-carousel/slick/slick-theme.scss";
@import "node_modules/slick-carousel/slick/slick.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

.bg-home {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#abd9f2+0,64c2f4+44,20a7f5+100 */
  background: #abd9f2; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #abd9f2 0%, #64c2f4 44%, #20a7f5 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #abd9f2 0%,
    #64c2f4 44%,
    #20a7f5 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    #abd9f2 0%,
    #64c2f4 44%,
    #20a7f5 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abd9f2', endColorstr='#20a7f5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.page-product {
  .btn-list {
    width: 32px;
    height: 32px;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 2px;
    position: relative;
    .item {
      height: 6px;
      width: 20px;
      margin: 3px auto 0;
      border: 1px solid rgb(166, 166, 166);
    }
  }
  .btn-card {
    width: 32px;
    height: 32px;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 2px;
    position: relative;
    .square {
      position: absolute;
      width: 10px;
      height: 10px;
      border: 1px solid rgb(166, 166, 166);
      border-radius: 2px;
    }
    .square-1,
    .square-2 {
      top: 3px;
    }
    .square-3,
    .square-4 {
      bottom: 3px;
    }
    .square-1,
    .square-3 {
      left: 3px;
    }
    .square-2,
    .square-4 {
      right: 3px;
    }
  }
}

.product {
  // .badge,
  .brand {
    position: absolute;
  }
  .badge {
    top: 10px;
  }
  .brand {
    top: 10px;
    right: 0;
  }

  .btu {
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    // left: 50%;
    width: 100%;
    text-align: center;
    // transform: translateX(-50%);
  }
  .old-price {
    color: #3e3f42b0;
    text-decoration: line-through;
  }
  .badge.catalog {
    top: 30px;
  }

  .btn-catalog {
    border: 1px solid $warning;
    border-radius: 2px;
    font-size: 12px;
    padding: 2px 5px;
  }
  .description {
    max-height: 180px;
    overflow-y: scroll;
  }
}
